main{
    display: grid;
    justify-content: left;
    min-height: 100vh;
}

.todays-weather-data{
    display: flex;
}

.temp-time-data{
    display: inline-block;
}

.temp-time-data > *{
    margin: 20px 10px;
}

.current-weather-data{
    display: flex;
}

.all-content{
    display: none;
}

.centre-loader{
    display: grid;
    justify-content: center;
}