main{
    display: grid;
    justify-content: left;
    min-height: 100vh;
}

main > * {
    margin-left: 10px;
}

p{
    font-size: 16px;
}

.todays-weather-data{
    display: flex;
}

.temp-time-data{
    display: inline-block;
    text-align: center;
    width: 105px;
    margin: 0 5px;
}

.current-weather-data{
    width: 400px;
}

.all-content{
    display: none;
}

.centre-loader{
    display: grid;
    justify-content: center;
}

.countryInfoContainer{
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 400px;
    text-align: center;
    max-height: 340px;
    border-radius: 40px;
}

.countryInfoContainer > *{
    color: white;
}

.time-display{
    font-weight: bold;
    font-size: 16px;
    text-decoration: underline;
}

.three-day-forecast h2{
    margin-top: 50px;
}

@media (max-width: 1000px) {
    main{
        min-height: 100vh;
        text-align: center;
    }
    .todays-weather-data{
        display: grid;
        justify-content: center;
    }
    .todays-weather-data > *{
        max-width: 400px;
        margin: 0 5px;
    }
    .temp-time-data{
        margin: 10px 0;
    }
}

@media (max-width: 450px) {
    .card-extra-info-grid{
        max-width: 90%;
    }
    .todays-weather-data > *{
        max-width: 300px;
    }
    .current-weather-data{
        width: 320px;
    }
}