main{
    display: grid;
    justify-content: center;
    text-align: center;
    min-height: 90vh;
}

.countryCard > * {
    margin: 20px 30px;
    border: 1px #373737 solid;
    background-color: #373737;
    border-radius: 30px;
    max-width: 300px;
}

.countryCard a > * {
    padding: 5px 20px;
}

.infoContainer > * {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
}

.top-info{
    display: none;
}

@media (max-width: 1300px) {
    .infoContainer > *{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width: 950px) {
    .infoContainer > *{
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 650px) {
    .infoContainer > *{
        grid-template-columns: 1fr;
    }
}