.error{
    color: red;
}

a{
    text-decoration: none;
    color: black;
}

body{
    margin: 0px;
}

header{
    height: 100px;
    background-color: #373737;
}

h1{
    text-align: center;
}

.infoContainer > *{
    display: flex;
}

.tempInfo-top-sec{
    display: flex;
}

.tempInfo-top-sec img{
    max-width: 80px;
    max-height: 80px;
}

.tempInfo-top-info{
    flex-basis: 100%;
}

.card-extra-info-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}